* {
  margin: 0;
}

body {
  background-color: #283f3b;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_dropdown {
  background-color: #5fdd9d;
}
.app_left {
  flex: 0.9;
}

.app_right {
  padding: 10px;
}
.app_right h3 {
  padding: 10px;
  text-align: center;
}
.app_right_card2 {
  margin-top: 30px;
}
.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-evenly;
}
.app_header h1 {
  color: #99ddc8;
}
.app_stats {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
