@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #283f3b;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_dropdown {
  display: flex;
  background-color: #5fdd9d;
}
.app_left {
  flex: 0.9;
}

.app_right {
  padding: 10px;
}
.app_right h3 {
  padding: 10px;
  text-align: center;
}
.app_right_card2 {
  margin-top: 30px;
}
.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-evenly;
}
.app_header h1 {
  display: block;
  color: #99ddc8;
}
.app_stats {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 990px) {
  .app {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .app_header {
    display: flex;
  }
  .app_dropdown {
    width: auto;
  }
}
