.infoBox {
  flex: 1;
  cursor: pointer;
  text-align: center;
  font-size: large;
}
.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

.infoBox--cases--green {
  color: rgb(22, 36, 22) !important;
}
.infoBox__cases-ar {
  display: flex;
  justify-content: space-evenly;
  color: #3f4531;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
@media (max-width: 990px) {
  .infoBox {
    flex-direction: column;
  }
}
