.t-table {
  height: 400px;
  overflow-y: scroll;
  width: 100%;
}

.t-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* margin: 0 25px; */
  padding: 0px 20px;
}
.t-table-header li:nth-of-type(2) {
  margin-left: 30px;
}
li {
  display: inline-block;
  padding: 5px 5px;
  list-style: none;
}
ul:nth-of-type(even) {
  background-color: #97f7e7;
}
.t-table-items ul {
  display: flex;
  justify-content: space-around;
}

img {
  width: 50px;
  height: 50px;
}
