th {
  width: 15%;
}
tr {
  display: block;
}
tbody {
  display: block;
  overflow: auto;
  height: 400px;
}
td {
  padding: 10px;
  font-weight: bolder;
  width: 50px;
  display: inline-block;
}
img {
  width: 50px;
  height: 30px;
}

tr:nth-child(even) {
  background-color: lightgray;
}
